@using OLAM.Models;
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3  form-group">
            <label class="col-form-label">Ngày bắt đầu <span class="red">*</span></label>
            <input type="text" class="form-control date" value="@(DateTime.Now.ToString("dd/MM/yyyy"))" placeholder="" required="">
        </div>
        <div class="col-md-2 col-sm-2  form-group">
            <label class="col-form-label">Giờ bắt đầu <span class="red">*</span></label>
            <input type="text" class="timepicker" placeholder="" value="00:00">
        </div>
        <div class="col-2"></div>
        <div class="col-md-3 col-sm-3  form-group">
            <label class="col-form-label">Ngày kết thúc <span class="red">*</span></label>
            <input type="text" class="form-control date" value="@(DateTime.Now.AddDays(3).ToString("dd/MM/yyyy"))" placeholder="" required="">
        </div>
        <div class="col-md-2 col-sm-2  form-group">
            <label class="col-form-label">Giờ kết thúc <span class="red">*</span></label>
            <input type="text" class=" timepicker" placeholder="" value="23:59">
        </div>

    </div>
    <div class="row mb-4"> 
        <div class="col-4"> 
            <button class="btn btn-primary"><i class="fa fa-sync-alt"></i> Update</button>
            <button class="btn btn-primary"><i class="fa fa-file-excel"></i> Xuất Excel</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" colspan="3">Áp suất (Bar)</th>
                        <th class="text-center" colspan="3">Tốc độ (Drum)</th>

                    </tr>
                    <tr>
                        <th scope="col">Tên cảm biến</th>
                        <th scope="col">Giá trị</th>
                        <th scope="col">Thời gian cập nhật</th>
                        <th scope="col">Tên cảm biến</th>
                        <th scope="col">Giá trị</th>
                        <th scope="col">Thời gian cập nhật</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (PEELING x in ViewBag.PEELINGs as PagedList.IPagedList<PEELING>)
                    {
                        <tr>
                            <th>@x.ss_pressure</th>
                            <td>@x.value_pressure</td>
                            <td>@x.time_update</td>
                            <td>@x.ss_speeddrum</td>
                            <td>@x.Value_speeddrum</td>
                            <td>@x.time_update</td>
                        </tr>
                    }



                </tbody>
            </table>
            @Html.PagedListPager(ViewBag.PEELINGs as PagedList.IPagedList<PEELING>, page => Url.Action("XuongTachVo", new { page }))
        </div>
    </div>
</div>

